{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<ul>
					<li><a href="https://lesperance.io/cracking-wep-connected-clients">Attacking Wifi Series: Cracking WEP with Connected Clients</a></li>
					<li><a href="https://lesperance.io/attacking-wifi-commands">Attacking Wifi Series: Overview & Commands</a></li>
				</ul>
			</div>
			<br>
		</div>
	</div>
{% endif %}

