{% if site.coursera %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Pentester Academy</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="courseraPanel">
				{% for course in site.coursera.courses %}
                  {% assign loopindex = forloop.index | modulo: 3 %}
                  {% if loopindex == 1 %}
				<div class="row">
                  {% endif %}
					<div class="col-sm-6">
						<a target='_blank' href="{{course.link}}">
                          <img src="{{course.badge}}" />
						</a><br/>
                        <strong>{{course.title}}</strong><br />
                        <i>{{course.date}}</i>
					</div>
                    {% if loopindex == 0 %}
				</div>
                {% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
