{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<ul>
					<li><a href="https://lesperance.io/hacking-clientless-wep">Attacking Wifi Series: Hacking Clientless WEP Networks</a></li>
					<li><a href="https://lesperance.io/hacking-wep-via-client">Attacking Wifi Series: Hacking WEP via a Client</a></li>
					<li><a href="https://lesperance.io/hracking-wep-connected-clients">Attacking Wifi Series: Hacking WEP with Connected Clients</a></li>
					<li><a href="https://lesperance.io/attacking-wifi-commands">Attacking Wifi Series: Overview & Commands</a></li>
				</ul>
			</div>
			<br>
		</div>
	</div>
{% endif %}

