{% if site.coursera %}
<div class="rounded_panel txt_lightgrey" id="coursesBubble">
    <div class="top-rounded-panel grey-bg">
        <h1>Pentester Academy Badges</h1>
    </div>
    <div class="content-rounded-panel">
        <div id="courseraPanel">
            {% for course in site.coursera.courses %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}
            <div class="row">
                {% endif %}
                <div class="col-sm-4">
                    <a href="{{course.link}}" target='_blank'>
                        <img src="{{course.badge}}" width="250"/>
                    </a><br/>
                    <strong>{{course.title}}</strong><br/>
                    <i>{{course.date}}</i>
                </div>
                {% if loopindex == 0 %}
            </div>
            {% endif %}
            {% endfor %}
            {% if loopindex == 2 %}
        </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
